@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Emblema+One & family= Stardos+Stencil:wght@400;700 & display=swap');
/* Configurações da página. aqui estou zerando o espaço que fica na página*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
}
body{
    font-size: 12pt;
    font-family: 'montserrat', sans-serif;
    background-color:#fff
}
header{
    height: 70px;
    display:flex;
    justify-content:space-between;
    background-color:#000;
}
a.nav-item{
    color:#fff;
    text-decoration:none;
    transition:0.3s;

}
a:hover{
    opacity:0.7;
}
nav{
    display: flex;
    justify-content: space-arround;
    align-items:center;
    font-family:'Emblema one', 'Times New Roman', Times, serif;
    background:#000;
    height: 8vh;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}