@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Emblema+One & family= Stardos+Stencil:wght@400;700 & display=swap');
/* Configurações da página. aqui estou zerando o espaço que fica na página*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
}
body{
    font-size: 12pt;
    font-family: 'montserrat', sans-serif;
    background-color:#fff
}
header{
    height: 70px;
    display:flex;
    justify-content:space-between;
    background-color:#000;
}
.cabecalho-imagem{
    height:40px;
    width:270px;
    margin: 10px;
    cursor: pointer;
}
.menu{
    height: 70px;
    width: fit-content;
    justify-content: space-between;
    display:flex;
    align-items:center;
}
nav.menu{
    overflow: hidden;
    position: fixed;
    width:max-content;
}
.cabecalho-menu-item{
    color:#fff;
    list-style-type: none;
    margin:10px;
    border-radius:5px;
    height: 30px;
    padding: 5px;
    justify-content: space-between;
    align-items:center;
    cursor:pointer;

}
.cabecalho-menu-item:hover{
    background-color: #1a1919;
}
.cabecalho-menu-imagem{
    margin:10px;
    border-radius:5px;
    height:30px;
    width:30px;
    padding:5px;
    align-items: center;
    cursor:pointer;
}
.cabecalho-menu-imagem:hover{
    background-color: #1a1919;
}
h1{
    font-family: 'Emblema one', 'Times New Roman', Times, serif;
    font-size: 46px;
}
.carrossel{
    height:100%;
    width:100%;
    object-fit:cover;
}
.conteudo-principal{
    width:80%; 
    align-items: center;
    justify-content: space-between;
    display: flex;
    align-content: center;
}
.texto-conteudo-principal{
    padding: 5%;
    justify-content: center;
    text-align:left;
    flex-direction: column;
   
}
.imagem-conteudo-principal{
    padding:5%;
    justify-content:space-between;
    flex-direction: column;
}
.galeria-de-fotos{
    width: 80%;
    justify-content: space-between;
    align-content: center;
    align-items:center;
    
}
div.galeria{
    background-color: #fff;
    width: fit-content;
}
@media only screen and (max-width:700px){
    .ajustavel{
        padding: 0 6px;
        float:left;
        width: 25%;
    }
}
@media only screen and (max-width:500px){
    .responsive{
        width: 100%;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }